@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="column">
            <ul class="navbar-nav flex-grow-1">


                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/double.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/dubbelrum.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/Hotelroom.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/scaled.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/2.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/single.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/single2.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/enkelrum.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/enkelrum (1).jpg" style="width:800px;height:400px;"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Boknings" asp-action="CheckFreeRooms"><figure><img src="~/img/Enkelrum3.jpg" style="width:800px;height:400px;"></figure></a>
                </li>
            </ul>
        </div>
        
    </div>
</div>